@import url("https://fonts.googleapis.com/css?family=Pacifico|Rubik");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: "Rubik", "Roboto", "Helvetica", "Calibri", "Arial", "sans-serif";
}
